# SQL Lab

In this lab we will learn how to use execute SQL from the iPython notebook and practice some queries on the [Northwind sample database](https://northwinddatabase.codeplex.com/).

You can access the data with this command:

    psql -h dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com -p 5432 -U dsi_student northwind
    password: gastudents

First of all let's install the ipython-sql extension. You can find instructions [here](https://github.com/catherinedevlin/ipython-sql).

In [1]:
# Necessary package 1 (if not already installed)
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /Users/slevin886/anaconda2/envs/python3/lib/python3.6/site-packages
Requirement already satisfied: prettytable in /Users/slevin886/anaconda2/envs/python3/lib/python3.6/site-packages (from ipython-sql)
Requirement already satisfied: ipython-genutils>=0.1.0 in /Users/slevin886/anaconda2/envs/python3/lib/python3.6/site-packages (from ipython-sql)
Requirement already satisfied: ipython>=1.0 in /Users/slevin886/anaconda2/envs/python3/lib/python3.6/site-packages (from ipython-sql)
Requirement already satisfied: sqlparse in /Users/slevin886/anaconda2/envs/python3/lib/python3.6/site-packages (from ipython-sql)
Requirement already satisfied: sqlalchemy>=0.6.7 in /Users/slevin886/anaconda2/envs/python3/lib/python3.6/site-packages (from ipython-sql)
Requirement already satisfied: six in /Users/slevin886/anaconda2/envs/python3/lib/python3.6/site-packages (from ipython-sql)
Requirement already satisfied: setuptools>=18.5 in /Users/slevin886/anaconda2/envs/python3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql)
Requirement already satisfied: jedi>=0.10 in /Users/slevin886/anaconda2/envs/python3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql)
Requirement already satisfied: decorator in /Users/slevin886/anaconda2/envs/python3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql)
Requirement already satisfied: pickleshare in /Users/slevin886/anaconda2/envs/python3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql)
Requirement already satisfied: simplegeneric>0.8 in /Users/slevin886/anaconda2/envs/python3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql)
Requirement already satisfied: traitlets>=4.2 in /Users/slevin886/anaconda2/envs/python3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql)
Requirement already satisfied: prompt_toolkit<2.0.0,>=1.0.4 in /Users/slevin886/anaconda2/envs/python3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql)
Requirement already satisfied: pygments in /Users/slevin886/anaconda2/envs/python3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql)
Requirement already satisfied: appnope in /Users/slevin886/anaconda2/envs/python3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql)
Requirement already satisfied: pexpect in /Users/slevin886/anaconda2/envs/python3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql)
Requirement already satisfied: parso==0.1.* in /Users/slevin886/anaconda2/envs/python3/lib/python3.6/site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql)
Requirement already satisfied: wcwidth in /Users/slevin886/anaconda2/envs/python3/lib/python3.6/site-packages (from prompt_toolkit<2.0.0,>=1.0.4->ipython>=1.0->ipython-sql)

In [ ]:
# Necessary package 2 (if not already installed)
!pip install psycopg2

Let's see if it works:

In [2]:
# Magic Function Load Extension
%load_ext sql

In [ ]:
# Line Magic Function SQL Extension and path w/ access info to datafile

In [3]:
%sql postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/northwind

'Connected: dsi_student@northwind'

In [4]:
# This code will not run. Unfortunately, it seems that you can't run cell magic in cells that have comments. This
# does make sense, given that # are not the SQL syntax for commenting. Also, SQL comments don't seem to work
# in Jupyter notebook. Weird.

%%sql
SELECT * 
FROM orders 
LIMIT 5;

SyntaxError: invalid syntax (<ipython-input-4-e56ef27c3914>, line 5)

In [1]:
# So try to comment in cells above or below your code. Either use comments, like this cell...

...or create a Markdown cell, like this cell!

In [5]:
%%sql
SELECT * 
FROM orders 
LIMIT 5;

5 rows affected.

[(10248, 'VINET', 5, datetime.date(1996, 7, 4), datetime.date(1996, 8, 1), datetime.date(1996, 7, 16), 3, 32.38, 'Vins et alcools Chevalier', "59 rue de l'Abbaye", 'Reims', None, '51100', 'France'),
 (10249, 'TOMSP', 6, datetime.date(1996, 7, 5), datetime.date(1996, 8, 16), datetime.date(1996, 7, 10), 1, 11.61, 'Toms Spezialitäten', 'Luisenstr. 48', 'Münster', None, '44087', 'Germany'),
 (10250, 'HANAR', 4, datetime.date(1996, 7, 8), datetime.date(1996, 8, 5), datetime.date(1996, 7, 12), 2, 65.83, 'Hanari Carnes', 'Rua do Paço, 67', 'Rio de Janeiro', 'RJ', '05454-876', 'Brazil'),
 (10251, 'VICTE', 3, datetime.date(1996, 7, 8), datetime.date(1996, 8, 5), datetime.date(1996, 7, 15), 1, 41.34, 'Victuailles en stock', '2, rue du Commerce', 'Lyon', None, '69004', 'France'),
 (10252, 'SUPRD', 4, datetime.date(1996, 7, 9), datetime.date(1996, 8, 6), datetime.date(1996, 7, 11), 2, 51.3, 'Suprêmes délices', 'Boulevard Tirou, 255', 'Charleroi', None, 'B-6000', 'Belgium')]

Nice!!! We can now go ahead with the lab!

## 1: Inspect the database

If we were connected via console, it would be easy to list all tables using `\dt`. We can however access table information performing a query on the `information_schema.tables` table.

### 1.a: List Tables

1. write a `SELECT` statement that lists all the tables in the public schema of the `northwind` database, sorted alphabetically

In [ ]:
# %%SQL earlier picked our postgres filepath so we just have to call %%sql to reach our DB

In [163]:
%%sql 
SELECT data_type, table_name FROM information_schema.columns ORDER BY table_name;

1825 rows affected.

[('character varying', 'administrable_role_authorizations'),
 ('character varying', 'administrable_role_authorizations'),
 ('character varying', 'administrable_role_authorizations'),
 ('character varying', 'applicable_roles'),
 ('character varying', 'applicable_roles'),
 ('character varying', 'applicable_roles'),
 ('character varying', 'attributes'),
 ('character varying', 'attributes'),
 ('integer', 'attributes'),
 ('character varying', 'attributes'),
 ('character varying', 'attributes'),
 ('character varying', 'attributes'),
 ('integer', 'attributes'),
 ('integer', 'attributes'),
 ('character varying', 'attributes'),
 ('character varying', 'attributes'),
 ('character varying', 'attributes'),
 ('character varying', 'attributes'),
 ('character varying', 'attributes'),
 ('integer', 'attributes'),
 ('character varying', 'attributes'),
 ('character varying', 'attributes'),
 ('character varying', 'attributes'),
 ('character varying', 'attributes'),
 ('character varying', 'attributes'),
 ('character varying', 'attributes'),
 ('integer', 'attributes'),
 ('integer', 'attributes'),
 ('character varying', 'attributes'),
 ('character varying', 'attributes'),
 ('integer', 'attributes'),
 ('integer', 'attributes'),
 ('character varying', 'attributes'),
 ('character varying', 'attributes'),
 ('character varying', 'attributes'),
 ('character varying', 'attributes'),
 ('integer', 'attributes'),
 ('bytea', 'categories'),
 ('text', 'categories'),
 ('character varying', 'categories'),
 ('smallint', 'categories'),
 ('bigint', 'categoriesmerged'),
 ('bigint', 'categoriesmerged'),
 ('text', 'categoriesmerged'),
 ('text', 'categoriesmerged'),
 ('text', 'categoriesmerged'),
 ('bigint', 'categoriesmerged'),
 ('bigint', 'categoriesmerged'),
 ('bigint', 'categoriesmerged'),
 ('bigint', 'categoriesmerged'),
 ('text', 'categoriesmerged'),
 ('bigint', 'categoriesmerged'),
 ('bigint', 'categoriesmerged'),
 ('text', 'categoriesmerged'),
 ('double precision', 'categoriesmerged'),
 ('text', 'categories_pd'),
 ('bigint', 'categories_pd'),
 ('text', 'categories_pd'),
 ('text', 'categories_pd'),
 ('bigint', 'categories_pd'),
 ('character varying', 'character_sets'),
 ('character varying', 'character_sets'),
 ('character varying', 'character_sets'),
 ('character varying', 'character_sets'),
 ('character varying', 'character_sets'),
 ('character varying', 'character_sets'),
 ('character varying', 'character_sets'),
 ('character varying', 'character_sets'),
 ('character varying', 'check_constraint_routine_usage'),
 ('character varying', 'check_constraint_routine_usage'),
 ('character varying', 'check_constraint_routine_usage'),
 ('character varying', 'check_constraint_routine_usage'),
 ('character varying', 'check_constraint_routine_usage'),
 ('character varying', 'check_constraint_routine_usage'),
 ('character varying', 'check_constraints'),
 ('character varying', 'check_constraints'),
 ('character varying', 'check_constraints'),
 ('character varying', 'check_constraints'),
 ('character varying', 'collation_character_set_applicability'),
 ('character varying', 'collation_character_set_applicability'),
 ('character varying', 'collation_character_set_applicability'),
 ('character varying', 'collation_character_set_applicability'),
 ('character varying', 'collation_character_set_applicability'),
 ('character varying', 'collation_character_set_applicability'),
 ('character varying', 'collations'),
 ('character varying', 'collations'),
 ('character varying', 'collations'),
 ('character varying', 'collations'),
 ('character varying', 'column_domain_usage'),
 ('character varying', 'column_domain_usage'),
 ('character varying', 'column_domain_usage'),
 ('character varying', 'column_domain_usage'),
 ('character varying', 'column_domain_usage'),
 ('character varying', 'column_domain_usage'),
 ('character varying', 'column_domain_usage'),
 ('name', 'column_options'),
 ('character varying', 'column_options'),
 ('character varying', 'column_options'),
 ('name', 'column_options'),
 ('name', 'column_options'),
 ('character varying', 'column_options'),
 ('character varying', 'column_privileges'),
 ('character varying', 'column_privileges'),
 ('character varying', 'column_privileges'),
 ('character varying', 'column_privileges'),
 ('character varying', 'column_privileges'),
 ('character varying', 'column_privileges'),
 ('character varying', 'column_privileges'),
 ('character varying', 'column_privileges'),
 ('integer', 'columns'),
 ('integer', 'columns'),
 ('character varying', 'columns'),
 ('character varying', 'columns'),
 ('character varying', 'columns'),
 ('character varying', 'columns'),
 ('character varying', 'columns'),
 ('character varying', 'columns'),
 ('character varying', 'columns'),
 ('character varying', 'columns'),
 ('character varying', 'columns'),
 ('character varying', 'columns'),
 ('character varying', 'columns'),
 ('character varying', 'columns'),
 ('character varying', 'columns'),
 ('character varying', 'columns'),
 ('character varying', 'columns'),
 ('integer', 'columns'),
 ('character varying', 'columns'),
 ('character varying', 'columns'),
 ('character varying', 'columns'),
 ('character varying', 'columns'),
 ('character varying', 'columns'),
 ('character varying', 'columns'),
 ('character varying', 'columns'),
 ('character varying', 'columns'),
 ('character varying', 'columns'),
 ('character varying', 'columns'),
 ('character varying', 'columns'),
 ('character varying', 'columns'),
 ('character varying', 'columns'),
 ('character varying', 'columns'),
 ('character varying', 'columns'),
 ('integer', 'columns'),
 ('character varying', 'columns'),
 ('character varying', 'columns'),
 ('character varying', 'columns'),
 ('character varying', 'columns'),
 ('character varying', 'columns'),
 ('integer', 'columns'),
 ('integer', 'columns'),
 ('integer', 'columns'),
 ('integer', 'columns'),
 ('integer', 'columns'),
 ('character varying', 'column_udt_usage'),
 ('character varying', 'column_udt_usage'),
 ('character varying', 'column_udt_usage'),
 ('character varying', 'column_udt_usage'),
 ('character varying', 'column_udt_usage'),
 ('character varying', 'column_udt_usage'),
 ('character varying', 'column_udt_usage'),
 ('character varying', 'constraint_column_usage'),
 ('character varying', 'constraint_column_usage'),
 ('character varying', 'constraint_column_usage'),
 ('character varying', 'constraint_column_usage'),
 ('character varying', 'constraint_column_usage'),
 ('character varying', 'constraint_column_usage'),
 ('character varying', 'constraint_column_usage'),
 ('character varying', 'constraint_table_usage'),
 ('character varying', 'constraint_table_usage'),
 ('character varying', 'constraint_table_usage'),
 ('character varying', 'constraint_table_usage'),
 ('character varying', 'constraint_table_usage'),
 ('character varying', 'constraint_table_usage'),
 ('integer', 'credit_card_feature'),
 ('bigint', 'credit_card_feature'),
 ('character varying', 'credit_card_feature'),
 ('integer', 'credit_card_feature'),
 ('character', 'customercustomerdemo'),
 ('character', 'customercustomerdemo'),
 ('text', 'customerdemographics'),
 ('character', 'customerdemographics'),
 ('character varying', 'customers'),
 ('character varying', 'customers'),
 ('character varying', 'customers'),
 ('character varying', 'customers'),
 ('character varying', 'customers'),
 ('character', 'customers'),
 ('character varying', 'customers'),
 ('character varying', 'customers'),
 ('character varying', 'customers'),
 ('character varying', 'customers'),
 ('character varying', 'customers'),
 ('character varying', 'data_type_privileges'),
 ('character varying', 'data_type_privileges'),
 ('character varying', 'data_type_privileges'),
 ('character varying', 'data_type_privileges'),
 ('character varying', 'data_type_privileges'),
 ('character', 'descriptions'),
 ('character', 'descriptions'),
 ('character varying', 'descriptions'),
 ('character', 'descriptions1'),
 ('character', 'descriptions1'),
 ('character varying', 'descriptions1'),
 ('character', 'descriptions2'),
 ('character', 'descriptions2'),
 ('character varying', 'descriptions2'),
 ('character varying', 'domain_constraints'),
 ('character varying', 'domain_constraints'),
 ('character varying', 'domain_constraints'),
 ('character varying', 'domain_constraints'),
 ('character varying', 'domain_constraints'),
 ('character varying', 'domain_constraints'),
 ('character varying', 'domain_constraints'),
 ('character varying', 'domain_constraints'),
 ('integer', 'domains'),
 ('integer', 'domains'),
 ('character varying', 'domains'),
 ('character varying', 'domains'),
 ('integer', 'domains'),
 ('character varying', 'domains'),
 ('character varying', 'domains'),
 ('character varying', 'domains'),
 ('character varying', 'domains'),
 ('character varying', 'domains'),
 ('character varying', 'domains'),
 ('integer', 'domains'),
 ('character varying', 'domains'),
 ('integer', 'domains'),
 ('integer', 'domains'),
 ('integer', 'domains'),
 ('integer', 'domains'),
 ('character varying', 'domains'),
 ('character varying', 'domains'),
 ('character varying', 'domains'),
 ('character varying', 'domains'),
 ('character varying', 'domains'),
 ('character varying', 'domains'),
 ('character varying', 'domains'),
 ('character varying', 'domains'),
 ('character varying', 'domains'),
 ('character varying', 'domains'),
 ('character varying', 'domain_udt_usage'),
 ('character varying', 'domain_udt_usage'),
 ('character varying', 'domain_udt_usage'),
 ('character varying', 'domain_udt_usage'),
 ('character varying', 'domain_udt_usage'),
 ('character varying', 'domain_udt_usage'),
 ('character varying', 'element_types'),
 ('character varying', 'element_types'),
 ('character varying', 'element_types'),
 ('character varying', 'element_types'),
 ('character varying', 'element_types'),
 ('character varying', 'element_types'),
 ('character varying', 'element_types'),
 ('integer', 'element_types'),
 ('integer', 'element_types'),
 ('character varying', 'element_types'),
 ('character varying', 'element_types'),
 ('character varying', 'element_types'),
 ('character varying', 'element_types'),
 ('character varying', 'element_types'),
 ('integer', 'element_types'),
 ('integer', 'element_types'),
 ('integer', 'element_types'),
 ('integer', 'element_types'),
 ('character varying', 'element_types'),
 ('integer', 'element_types'),
 ('character varying', 'element_types'),
 ('character varying', 'element_types'),
 ('character varying', 'element_types'),
 ('character varying', 'element_types'),
 ('character varying', 'element_types'),
 ('character varying', 'element_types'),
 ('character varying', 'element_types'),
 ('integer', 'element_types'),
 ('character varying', 'element_types'),
 ('character varying', 'employees'),
 ('smallint', 'employees'),
 ('text', 'employees'),
 ('bytea', 'employees'),
 ('character varying', 'employees'),
 ('character varying', 'employees'),
 ('character varying', 'employees'),
 ('character varying', 'employees'),
 ('character varying', 'employees'),
 ('character varying', 'employees'),
 ('character varying', 'employees'),
 ('date', 'employees'),
 ('date', 'employees'),
 ('character varying', 'employees'),
 ('character varying', 'employees'),
 ('character varying', 'employees'),
 ('character varying', 'employees'),
 ('smallint', 'employees'),
 ('character varying', 'employeeterritories'),
 ('smallint', 'employeeterritories'),
 ('smallint', 'empterid'),
 ('character varying', 'empterid'),
 ('character varying', 'empterid2'),
 ('smallint', 'empterid2'),
 ('character varying', 'enabled_roles'),
 ('character', 'final'),
 ('character varying', 'final'),
 ('smallint', 'final'),
 ('smallint', 'final'),
 ('real', 'final'),
 ('character', 'final'),
 ('smallint', 'final'),
 ('character', 'final2'),
 ('character', 'final2'),
 ('character varying', 'final2'),
 ('smallint', 'final2'),
 ('real', 'final2'),
 ('smallint', 'final2'),
 ('smallint', 'final2'),
 ('smallint', 'final3'),
 ('character', 'final3'),
 ('smallint', 'final3'),
 ('real', 'final3'),
 ('smallint', 'final3'),
 ('character', 'final3'),
 ('character', 'final4'),
 ('real', 'final4'),
 ('character', 'final4'),
 ('smallint', 'final4'),
 ('smallint', 'final4'),
 ('smallint', 'final4'),
 ('character', 'final5'),
 ('smallint', 'final5'),
 ('smallint', 'final5'),
 ('real', 'final5'),
 ('smallint', 'final5'),
 ('character', 'final5'),
 ('smallint', 'fo'),
 ('character', 'fo'),
 ('character', 'fo'),
 ('smallint', 'fo'),
 ('real', 'fo'),
 ('smallint', 'fo'),
 ('character varying', 'foreign_data_wrapper_options'),
 ('character varying', 'foreign_data_wrapper_options'),
 ('character varying', 'foreign_data_wrapper_options'),
 ('character varying', 'foreign_data_wrapper_options'),
 ('character varying', 'foreign_data_wrappers'),
 ('character varying', 'foreign_data_wrappers'),
 ('character varying', 'foreign_data_wrappers'),
 ('character varying', 'foreign_data_wrappers'),
 ('character varying', 'foreign_data_wrappers'),
 ('character varying', 'foreign_server_options'),
 ('character varying', 'foreign_server_options'),
 ('character varying', 'foreign_server_options'),
 ('character varying', 'foreign_server_options'),
 ('character varying', 'foreign_servers'),
 ('character varying', 'foreign_servers'),
 ('character varying', 'foreign_servers'),
 ('character varying', 'foreign_servers'),
 ('character varying', 'foreign_servers'),
 ('character varying', 'foreign_servers'),
 ('character varying', 'foreign_servers'),
 ('character varying', 'foreign_table_options'),
 ('name', 'foreign_table_options'),
 ('name', 'foreign_table_options'),
 ('character varying', 'foreign_table_options'),
 ('character varying', 'foreign_table_options'),
 ('character varying', 'foreign_tables'),
 ('name', 'foreign_tables'),
 ('character varying', 'foreign_tables'),
 ('character varying', 'foreign_tables'),
 ('name', 'foreign_tables'),
 ('character', 'full_ord'),
 ('character', 'full_ord'),
 ('smallint', 'full_ord'),
 ('real', 'full_ord'),
 ('smallint', 'full_ord'),
 ('smallint', 'full_ord'),
 ('smallint', 'full_ord'),
 ('smallint', 'full_order'),
 ('character', 'full_order'),
 ('character', 'full_order'),
 ('smallint', 'full_order'),
 ('smallint', 'full_order'),
 ('real', 'full_order'),
 ('smallint', 'full_order'),
 ('smallint', 'fullorders'),
 ('real', 'fullorders'),
 ('smallint', 'fullorders'),
 ('smallint', 'fullorders'),
 ('character', 'fullorders'),
 ('character', 'fullorders'),
 ('smallint', 'fullorders'),
 ('character', 'full_orders_'),
 ('character', 'full_orders_'),
 ('smallint', 'full_orders_'),
 ('smallint', 'full_orders_'),
 ('smallint', 'full_orders_'),
 ('real', 'full_orders_'),
 ('smallint', 'full_orders_'),
 ('smallint', 'fullorders_'),
 ('smallint', 'fullorders_'),
 ('character', 'fullorders_'),
 ('character', 'fullorders_'),
 ('smallint', 'fullorders_'),
 ('smallint', 'fullorders_'),
 ('real', 'fullorders_'),
 ('character', 'fullorders__'),
 ('smallint', 'fullorders__'),
 ('real', 'fullorders__'),
 ('smallint', 'fullorders__'),
 ('smallint', 'fullorders__'),
 ('character', 'fullorders__'),
 ('smallint', 'fullorders__'),
 ('smallint', 'full_order_table'),
 ('character', 'full_order_table'),
 ('character', 'full_order_table'),
 ('real', 'full_order_table'),
 ('smallint', 'full_order_table'),
 ('smallint', 'full_order_table'),
 ('real', 'full_order_table2'),
 ('smallint', 'full_order_table2'),
 ('smallint', 'full_order_table2'),
 ('character', 'full_order_table2'),
 ('character', 'full_order_table2'),
 ('smallint', 'full_order_table2'),
 ('smallint', 'full_order_table3'),
 ('smallint', 'full_order_table3'),
 ('smallint', 'full_order_table3'),
 ('real', 'full_order_table3'),
 ('character', 'full_order_table3'),
 ('character', 'full_order_table3'),
 ('character', 'full_order_table4'),
 ('smallint', 'full_order_table4'),
 ('real', 'full_order_table4'),
 ('smallint', 'full_order_table4'),
 ('character', 'full_order_table4'),
 ('smallint', 'full_order_table4'),
 ('smallint', 'full_order_table5'),
 ('character', 'full_order_table5'),
 ('character', 'full_order_table5'),
 ('smallint', 'full_order_table5'),
 ('real', 'full_order_table5'),
 ('smallint', 'full_order_table5'),
 ('integer', 'google_app'),
 ('integer', 'google_app'),
 ('integer', 'google_app'),
 ('character varying', 'google_app'),
 ('character varying', 'information_schema_catalog_name'),
 ('character varying', 'key_column_usage'),
 ('character varying', 'key_column_usage'),
 ('character varying', 'key_column_usage'),
 ('character varying', 'key_column_usage'),
 ('character varying', 'key_column_usage'),
 ('integer', 'key_column_usage'),
 ('integer', 'key_column_usage'),
 ('character varying', 'key_column_usage'),
 ('character varying', 'key_column_usage'),
 ('text', 'movies'),
 ('double precision', 'movies'),
 ('text', 'movies'),
 ('text', 'movies'),
 ('text', 'movies'),
 ('double precision', 'movies'),
 ('bigint', 'movies'),
 ('bigint', 'movies'),
 ('character', 'my_table'),
 ('character', 'my_table'),
 ('real', 'my_table'),
 ('smallint', 'my_table'),
 ('smallint', 'my_table'),
 ('smallint', 'my_table'),
 ('smallint', 'my_table'),
 ('integer', 'newregion'),
 ('character varying', 'newregion'),
 ('character', 'new_table'),
 ('smallint', 'new_table'),
 ('smallint', 'new_table'),
 ('character', 'new_table'),
 ('real', 'new_table'),
 ('smallint', 'new_table'),
 ('smallint', 'order_details'),
 ('real', 'order_details'),
 ('smallint', 'order_details'),
 ('real', 'order_details'),
 ('smallint', 'order_details'),
 ('real', 'order_details_temp'),
 ('smallint', 'order_details_temp'),
 ('smallint', 'order_details_temp'),
 ('real', 'order_details_temp'),
 ('smallint', 'order_details_temp'),
 ('character varying', 'orders'),
 ('real', 'orders'),
 ('character varying', 'orders'),
 ('character varying', 'orders'),
 ('character varying', 'orders'),
 ('character varying', 'orders'),
 ('character varying', 'orders'),
 ('smallint', 'orders'),
 ('character', 'orders'),
 ('smallint', 'orders'),
 ('date', 'orders'),
 ('date', 'orders'),
 ('date', 'orders'),
 ('smallint', 'orders'),
 ('smallint', 'order_table'),
 ('character', 'order_table'),
 ('smallint', 'order_table'),
 ('character', 'order_table'),
 ('smallint', 'order_table'),
 ('real', 'order_table'),
 ('integer', 'parameters'),
 ('integer', 'parameters'),
 ('character varying', 'parameters'),
 ('integer', 'parameters'),
 ('character varying', 'parameters'),
 ('character varying', 'parameters'),
 ('character varying', 'parameters'),
 ('character varying', 'parameters'),
 ('character varying', 'parameters'),
 ('character varying', 'parameters'),
 ('integer', 'parameters'),
 ('character varying', 'parameters'),
 ('character varying', 'parameters'),
 ('character varying', 'parameters'),
 ('character varying', 'parameters'),
 ('character varying', 'parameters'),
 ('integer', 'parameters'),
 ('character varying', 'parameters'),
 ('character varying', 'parameters'),
 ('character varying', 'parameters'),
 ('character varying', 'parameters'),
 ('character varying', 'parameters'),
 ('integer', 'parameters'),
 ('integer', 'parameters'),
 ('character varying', 'parameters'),
 ('character varying', 'parameters'),
 ('character varying', 'parameters'),
 ('character varying', 'parameters'),
 ('character varying', 'parameters'),
 ('character varying', 'parameters'),
 ('integer', 'parameters'),
 ('integer', 'parameters'),
 ('integer', 'payments'),
 ('date', 'payments'),
 ('integer', 'payments'),
 ('integer', 'payments'),
 ('regproc', 'pg_aggregate'),
 ('regproc', 'pg_aggregate'),
 ('"char"', 'pg_aggregate'),
 ('oid', 'pg_aggregate'),
 ('integer', 'pg_aggregate'),
 ('text', 'pg_aggregate'),
 ('text', 'pg_aggregate'),
 ('smallint', 'pg_aggregate'),
 ('regproc', 'pg_aggregate'),
 ('regproc', 'pg_aggregate'),
 ('regproc', 'pg_aggregate'),
 ('regproc', 'pg_aggregate'),
 ('boolean', 'pg_aggregate'),
 ('boolean', 'pg_aggregate'),
 ('oid', 'pg_aggregate'),
 ('oid', 'pg_aggregate'),
 ('integer', 'pg_aggregate'),
 ('boolean', 'pg_am'),
 ('boolean', 'pg_am'),

### 1.b: Print Schemas

The table `INFORMATION_SCHEMA.COLUMNS` contains schema information on each.

Query it to display schemas of all the public tables. In particular we are interested in the column names and data types. Make sure you only include public schemas to avoid cluttering your results with a bunch of postgres related stuff.

In [ ]:
# Information_schema is like an automatically created and updated table of tables

In [164]:
%sql SELECT table_name, table_type FROM information_schema.tables WHERE table_schema='public';

63 rows affected.

[('categories', 'BASE TABLE'),
 ('full_order_table5', 'BASE TABLE'),
 ('fo', 'BASE TABLE'),
 ('table_join', 'BASE TABLE'),
 ('full_order', 'BASE TABLE'),
 ('customercustomerdemo', 'BASE TABLE'),
 ('customerdemographics', 'BASE TABLE'),
 ('customers', 'BASE TABLE'),
 ('employees', 'BASE TABLE'),
 ('employeeterritories', 'BASE TABLE'),
 ('order_details', 'BASE TABLE'),
 ('orders', 'BASE TABLE'),
 ('products', 'BASE TABLE'),
 ('region', 'BASE TABLE'),
 ('shippers', 'BASE TABLE'),
 ('shippers_tmp', 'BASE TABLE'),
 ('suppliers', 'BASE TABLE'),
 ('territories', 'BASE TABLE'),
 ('usstates', 'BASE TABLE'),
 ('table1', 'BASE TABLE'),
 ('movies', 'BASE TABLE'),
 ('ratings', 'BASE TABLE'),
 ('categoriesmerged', 'BASE TABLE'),
 ('order_table', 'BASE TABLE'),
 ('full_ord', 'BASE TABLE'),
 ('new_table', 'BASE TABLE'),
 ('full_order_table', 'BASE TABLE'),
 ('full_order_table2', 'BASE TABLE'),
 ('full_order_table3', 'BASE TABLE'),
 ('full_order_table4', 'BASE TABLE'),
 ('temp_table', 'BASE TABLE'),
 ('full_orders_', 'BASE TABLE'),
 ('fullorders_', 'BASE TABLE'),
 ('fullorders__', 'BASE TABLE'),
 ('fullorders', 'BASE TABLE'),
 ('descriptions', 'BASE TABLE'),
 ('price', 'BASE TABLE'),
 ('descriptions1', 'BASE TABLE'),
 ('empterid', 'BASE TABLE'),
 ('google_app', 'BASE TABLE'),
 ('final', 'BASE TABLE'),
 ('final2', 'BASE TABLE'),
 ('final3', 'BASE TABLE'),
 ('final4', 'BASE TABLE'),
 ('credit_card_feature', 'BASE TABLE'),
 ('price2', 'BASE TABLE'),
 ('descriptions2', 'BASE TABLE'),
 ('empterid2', 'BASE TABLE'),
 ('final5', 'BASE TABLE'),
 ('my_table', 'BASE TABLE'),
 ('newregion', 'BASE TABLE'),
 ('updatdregion', 'BASE TABLE'),
 ('updatedregion', 'BASE TABLE'),
 ('updatedregion1', 'BASE TABLE'),
 ('ship_secrets', 'VIEW'),
 ('top_5', 'VIEW'),
 ('sessions', 'BASE TABLE'),
 ('subscriptions', 'BASE TABLE'),
 ('payments', 'BASE TABLE'),
 ('students', 'BASE TABLE'),
 ('student_practice', 'BASE TABLE'),
 ('order_details_temp', 'BASE TABLE'),
 ('categories_pd', 'BASE TABLE')]

### 1.c: Table peek

Another way of quickly looking at table information is to query the first few rows. Do this for a couple of tables, for example: `orders`, `products`, `usstates`. Display only the first 3 rows.

In [109]:
categories3 = %sql SELECT "CategoryID", "CategoryName", "Description" FROM categories;
categories3

8 rows affected.

[(1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (3, 'Confections', 'Desserts, candies, and sweet breads'),
 (4, 'Dairy Products', 'Cheeses'),
 (5, 'Grains/Cereals', 'Breads, crackers, pasta, and cereal'),
 (6, 'Meat/Poultry', 'Prepared meats'),
 (7, 'Produce', 'Dried fruit and bean curd'),
 (8, 'Seafood', 'Seaweed and fish')]

In [43]:
products = %sql SELECT * FROM products LIMIT 3;
products

3 rows affected.

[(1, 'Chai', 8, 1, '10 boxes x 30 bags', 18.0, 39, 0, 10, 1),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19.0, 17, 40, 25, 1),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10.0, 13, 70, 25, 0)]

As you can see, some tables (like `usstates` or `region`) contain information that is probably less prone to change than other tables (like `orders` or `order_details`). This database is well organized to avoid unnecessary duplication. Let's start digging deeper in the data.

## 2: Products

What products is this company selling? The `products` and `categories` tables contain information to answer this question.

### 2.a: What categories of products is the company selling?

Remember that PostgreSQL is case sensitive.

In [112]:
%%sql 
SELECT "CategoryID", "CategoryName", "Description" FROM categories;

8 rows affected.

[(1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (3, 'Confections', 'Desserts, candies, and sweet breads'),
 (4, 'Dairy Products', 'Cheeses'),
 (5, 'Grains/Cereals', 'Breads, crackers, pasta, and cereal'),
 (6, 'Meat/Poultry', 'Prepared meats'),
 (7, 'Produce', 'Dried fruit and bean curd'),
 (8, 'Seafood', 'Seaweed and fish')]

### 2.b: How many products per category ID does the catalog contain?

In [68]:
%%sql 
SELECT "CategoryID", COUNT("ProductName")
FROM products
GROUP BY "CategoryID" ORDER BY "CategoryID";

8 rows affected.

[(1, 12), (2, 12), (3, 13), (4, 10), (5, 7), (6, 6), (7, 5), (8, 12)]

### 2.c: How many NOT discontinued products per categoryID?

In [72]:
%%sql 
SELECT "CategoryID", COUNT("ProductName")
FROM products WHERE "Discontinued"=0
GROUP BY "CategoryID" ORDER BY "CategoryID";

8 rows affected.

[(1, 9), (2, 11), (3, 13), (4, 10), (5, 6), (6, 2), (7, 4), (8, 12)]

### 2.d: What are the 5 most expensive products that were not discontinued?

In [75]:
%%sql 
SELECT *
FROM products WHERE "Discontinued"=0
ORDER BY "UnitPrice" DESC LIMIT 5;

5 rows affected.

[(38, 'Côte de Blaye', 18, 1, '12 - 75 cl bottles', 263.5, 17, 0, 15, 0),
 (20, "Sir Rodney's Marmalade", 8, 3, '30 gift boxes', 81.0, 40, 0, 0, 0),
 (18, 'Carnarvon Tigers', 7, 8, '16 kg pkg.', 62.5, 42, 0, 0, 0),
 (59, 'Raclette Courdavault', 28, 4, '5 kg pkg.', 55.0, 79, 0, 0, 0),
 (51, 'Manjimup Dried Apples', 24, 7, '50 - 300 g pkgs.', 53.0, 20, 0, 10, 0)]

### 2.e: How many units of each of these 5 products are there in stock?

In [76]:
%%sql 
SELECT "ProductName", "UnitsInStock"
FROM products WHERE "Discontinued"=0
ORDER BY "UnitPrice" DESC LIMIT 5;

5 rows affected.

[('Côte de Blaye', 17),
 ("Sir Rodney's Marmalade", 40),
 ('Carnarvon Tigers', 42),
 ('Raclette Courdavault', 79),
 ('Manjimup Dried Apples', 20)]

## 3: Orders

Now that we have a better understanding of products, let's start digging into orders.

### 3.a: How many orders in total?

In [85]:
%%sql
SELECT * FROM orders LIMIT 1;

1 rows affected.

[(10248, 'VINET', 5, datetime.date(1996, 7, 4), datetime.date(1996, 8, 1), datetime.date(1996, 7, 16), 3, 32.38, 'Vins et alcools Chevalier', "59 rue de l'Abbaye", 'Reims', None, '51100', 'France')]

In [83]:
%%sql
SELECT COUNT(*) FROM orders;

1 rows affected.

[(830,)]

### 3.b: Which country is receiving the most orders?

In [93]:
%%sql 
SELECT "ShipCountry", COUNT("ShipCountry")
FROM orders
GROUP BY "ShipCountry" ORDER BY count DESC LIMIT 2;

2 rows affected.

[('USA', 122), ('Germany', 122)]

### 3.c: Which country is receiving the least?

In [95]:
%%sql 
SELECT "ShipCountry", COUNT("ShipCountry")
FROM orders
GROUP BY "ShipCountry" ORDER BY count ASC LIMIT 1;

1 rows affected.

[('Norway', 6)]

### 3.d: What's the average shipping time (ShippedDate - OrderDate)?

Hint: use an aggregate function

In [103]:
%%sql 
SELECT AVG("ShippedDate" - "OrderDate") FROM orders;

1 rows affected.

[(Decimal('8.4919653893695921'),)]

### 3.e: What customer is submitting the highest number of orders?

In [105]:
%%sql 
SELECT "CustomerID", COUNT("CustomerID")
FROM orders
GROUP BY "CustomerID" ORDER BY count DESC LIMIT 1;

1 rows affected.

[('SAVEA', 31)]

## Shifting from SQL to Pandas

It's likely that, throughout the course, we'll be more familiar with Pandas syntax than SQL. Rather than racking our brains to execute complicated SQL queries when Pandas can answer this for us, what if we query data from SQL and read it into Pandas, then answer our questions that way?

In [106]:
import pandas as pd

The below cell was run earlier, where we saved the output of the SQL query as a variable `categories`. Examine the output.

In [107]:
categories = %sql SELECT "CategoryID", "CategoryName", "Description" FROM categories;
categories

8 rows affected.

[(1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (3, 'Confections', 'Desserts, candies, and sweet breads'),
 (4, 'Dairy Products', 'Cheeses'),
 (5, 'Grains/Cereals', 'Breads, crackers, pasta, and cereal'),
 (6, 'Meat/Poultry', 'Prepared meats'),
 (7, 'Produce', 'Dried fruit and bean curd'),
 (8, 'Seafood', 'Seaweed and fish')]

In [108]:
categories['CategoryName']

KeyError: 'CategoryName'

We can't directly reference that column in the same way we'd usually like. Let's read this into Pandas! Note that we pass the results of a query into a variable `categories`, then force `categories` to be a Pandas DataFrame by using the `.DataFrame()` method.

In [114]:
categories = %sql SELECT "CategoryID", "CategoryName", "Description" FROM categories;
categories = categories.DataFrame()
categories.head()

8 rows affected.

,CategoryID,CategoryName,Description
0,1,Beverages,"Soft drinks, coffees, teas, beers, and ales"
1,2,Condiments,"Sweet and savory sauces, relishes, spreads, an..."
2,3,Confections,"Desserts, candies, and sweet breads"
3,4,Dairy Products,Cheeses
4,5,Grains/Cereals,"Breads, crackers, pasta, and cereal"

#### Let's recreate our answers from above by using Pandas! Make sure to show us the commands you're running to get the answers.

You may find [this link](http://pandas.pydata.org/pandas-docs/stable/comparison_with_sql.html#compare-with-sql-join) particularly helpful!

## 4: Products

What products is this company selling? The `products` and `categories` tables contain information to answer this question.

### 4.a: What categories of products is the company selling?

In [116]:
categories.CategoryName

0         Beverages
1        Condiments
2       Confections
3    Dairy Products
4    Grains/Cereals
5      Meat/Poultry
6           Produce
7           Seafood
Name: CategoryName, dtype: object

### 4.b: How many products per category ID does the catalog contain?

In [131]:
products = %sql SELECT * FROM products;
products = products.DataFrame()
products.head()

77 rows affected.

,ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
0,1,Chai,8,1,10 boxes x 30 bags,18.00,39,0,10,1
1,2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,1
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,0
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,0
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,1

In [146]:
products['CategoryID'].value_counts()

3    13
8    12
2    12
1    12
4    10
5     7
6     6
7     5
Name: CategoryID, dtype: int64

### 4.c: How many NOT discontinued products per categoryID?

In [147]:
products[['CategoryID', 'Discontinued']].groupby('CategoryID').sum()
#sum gets rid of 0's which are discontinued, no need to specify == 0

            Discontinued
CategoryID
1                      3
2                      1
3                      0
4                      0
5                      1
6                      4
7                      1
8                      0

### 4.d: What are the 5 most expensive products that were not discontinued?

In [148]:
products[products['Discontinued'] == 1].sort_values('UnitPrice', ascending=False).head(5)

,ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
28,29,Thüringer Rostbratwurst,12,6,50 bags x 30 sausgs.,123.79,0,0,0,1
8,9,Mishi Kobe Niku,4,6,18 - 500 g pkgs.,97.00,29,0,0,1
27,28,Rössle Sauerkraut,12,7,25 - 825 g cans,45.60,26,0,0,1
16,17,Alice Mutton,7,6,20 - 1 kg tins,39.00,0,0,0,1
52,53,Perth Pasties,24,6,48 pieces,32.80,0,0,0,1

### 4.e: How many units of each of these 5 products are there in stock?

In [150]:
new_df = products[products['Discontinued'] == 1].sort_values('UnitPrice', ascending=False).head(5)
new_df[['ProductName', 'UnitsInStock']]

                ProductName  UnitsInStock
28  Thüringer Rostbratwurst             0
8           Mishi Kobe Niku            29
27        Rössle Sauerkraut            26
16             Alice Mutton             0
52            Perth Pasties             0

## 5: Orders

Now that we have a better understanding of products, let's start digging into orders.

### 5.a: How many orders in total?

In [151]:
orders = %sql SELECT * FROM orders;
orders = orders.DataFrame()
orders.head()

830 rows affected.

,OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10248,VINET,5,1996-07-04,1996-08-01,1996-07-16,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,None,51100,France
1,10249,TOMSP,6,1996-07-05,1996-08-16,1996-07-10,1,11.61,Toms Spezialitäten,Luisenstr. 48,Münster,None,44087,Germany
2,10250,HANAR,4,1996-07-08,1996-08-05,1996-07-12,2,65.83,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,RJ,05454-876,Brazil
3,10251,VICTE,3,1996-07-08,1996-08-05,1996-07-15,1,41.34,Victuailles en stock,"2, rue du Commerce",Lyon,None,69004,France
4,10252,SUPRD,4,1996-07-09,1996-08-06,1996-07-11,2,51.30,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,None,B-6000,Belgium

### 5.b: Which country is receiving the most orders?

In [156]:
orders['ShipCountry'].value_counts().head(2)

Germany    122
USA        122
Name: ShipCountry, dtype: int64

### 5.c: Which country is receiving the least?

In [157]:
orders['ShipCountry'].value_counts().tail(1)

Norway    6
Name: ShipCountry, dtype: int64

### 5.d: What's the average shipping time (ShippedDate - OrderDate)?

In [159]:
orders['ShipTime'] = orders['ShippedDate'] - orders['OrderDate']
orders['ShipTime'].mean()

Timedelta('8 days 11:48:25.809641')

### 5.e: What customer is submitting the highest number of orders?

In [161]:
orders['CustomerID'].value_counts().head(1)

SAVEA    31
Name: CustomerID, dtype: int64